@font-face {
    font-family: 'Grandslang roman';
    src: url('https://uploads-ssl.webflow.com/5343bca08039b78d170002c4/60e1a407cfd884bbba461245_GrandSlang%20Roman.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5343bca08039b78d170002c4/60e1a407ad63e87cd8d907ef_GrandSlang%20Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Medium';
    src: url('./assets/fonts/Silka-Medium.woff');
}

@font-face {
    font-family: 'Silka Regular';
    src: url('./assets/fonts/Silka-Regular.woff');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
    background-color:#f7f2f2;
}

.grid-tmp {
    grid-template-columns: auto auto auto;
}